<% content_for :title, "Wedding Couples" %>

<section class="dashhead">
    <div class="dashhead-titles">
      <h2 class="dashhead-title">Wedding Couples</h2>
    </div>

    <div class="dashhead-toolbar">
    <h4 class="dashhead-status-header status-header status-upcoming">Upcoming: 4</h4>
    <h4 class="dashhead-status-header status-header status-progress">In Progress: 1</h4>
    <h4 class="dashhead-status-header status-header status-complete">Completed: 1</h4>
    </div>
  </section>

  <hr class="m-t-0 m-b-md">

  <div class="table-responsive">
      <table class="table" data-sort="table">
        <thead>
          <tr>
            <th class="header">ID</th>
            <th class="header">Wedding Date</th>
            <th class="header headerSortUp">Groom</th>
            <th class="header">Bride</th>
            <th class="header">Location</th>
            <th class="header">Package</th>
            <th class="header">Status</th>
          </tr>
        </thead>
        <tbody>
        
        <% @couples.each do |couple| %>
            <tr class="clickable-row" data-url='<%= couple_path(couple)%>'>
                <td><a href="#">#<%= couple.id %></a></td>
                <td><%= couple.wedding_date %></td>
                <td><%= couple.groom_first_name %> <%= couple.groom_last_name %></td>
                <td><%= couple.bride_first_name %> <%= couple.bride_last_name %></td>
                <td><%= couple.ceremony_address %></td>
                <td>{package}</td>
                <td class="status-upcoming">{status}</td>
            </tr>
        <% end %>

        </tbody>
      </table>

      <%= link_to "Add New Couple", new_couple_path, class:"p-l btn btn-primary-outline" %>
  </div>
