<h4>Couples</h4>

<% @couples.each do |couple| %>
	<%= couple.wedding_date %>

	<%= couple.groom_first_name %>
	<%= couple.groom_last_name  %>

	<%= couple.bride_first_name %>
	<%= couple.bride_last_name  %>

	<%= couple.ceremony_address %>
	<%= link_to 'View Couple', couple_path(couple) %>

<% end %>