<p id="notice"><%= notice %></p>

<p>
  <strong>Wedding date:</strong>
  <%= @couple.wedding_date %>
</p>

<p>
  <strong>Groom first name:</strong>
  <%= @couple.groom_first_name %>
</p>

<p>
  <strong>Groom last name:</strong>
  <%= @couple.groom_last_name %>
</p>

<p>
  <strong>Groom email:</strong>
  <%= @couple.groom_email %>
</p>

<p>
  <strong>Groom phone:</strong>
  <%= @couple.groom_phone %>
</p>

<p>
  <strong>Groom location gr:</strong>
  <%= @couple.groom_location_gr %>
</p>

<p>
  <strong>Bride first name:</strong>
  <%= @couple.bride_first_name %>
</p>

<p>
  <strong>Bride last name:</strong>
  <%= @couple.bride_last_name %>
</p>

<p>
  <strong>Bride email:</strong>
  <%= @couple.bride_email %>
</p>

<p>
  <strong>Bride phone:</strong>
  <%= @couple.bride_phone %>
</p>

<p>
  <strong>Bride location gr:</strong>
  <%= @couple.bride_location_gr %>
</p>

<p>
  <strong>Planner first name:</strong>
  <%= @couple.planner_first_name %>
</p>

<p>
  <strong>Planner last name:</strong>
  <%= @couple.planner_last_name %>
</p>

<p>
  <strong>Planner email:</strong>
  <%= @couple.planner_email %>
</p>

<p>
  <strong>Planner phone:</strong>
  <%= @couple.planner_phone %>
</p>

<%= link_to 'Edit', edit_couple_path(@couple) %> |
<%= link_to 'Back', couples_path %>
