<h3><%= @couple.groom_first_name %> and <%= @couple.bride_first_name %>
</h3>
<h4><%= @couple.wedding_date %></h4>

<p>	
	<%= @couple.groom_first_name %>
	<%= @couple.groom_last_name  %>
	<%= @couple.groom_email %>
	<%= @couple.groom_phone %>
	<%= @couple.groom_location_gr %>
	<%= @couple.bride_first_name %>
	<%= @couple.bride_last_name  %>
	<%= @couple.bride_email %>
	<%= @couple.bride_phone %>
	<%= @couple.bride_location_gr %>
	<%= @couple.planner_first_name %>
	<%= @couple.planner_last_name %>
	<%= @couple.ceremony_address %>
	<%= @couple.reception_address %>
	<%= @couple.marital_address %>
</p>